.header img {
    height: 120px;
}

nav {
    background-color:#000;
    line-height:40px;
}
nav a{
    text-decoration:none;
    margin-right: 30px;
    padding:5px;
    color:#fff;
    display: inline-block;
}
nav a:hover {
    background-color:lightgrey;
}